[Unit]
Description=Calculator Utility Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/calculator_utility --in '{ "arg1": 3, "operation": "+", "arg2": 5 }'
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target